body {
    background: linear-gradient(grey, white);
    background-repeat: no-repeat;
    background-size: auto;
}

#disney {
    float: none;
}

#owl {
    float: none;
}

#ball {
  float: none;
}

#nemo {
  margin-left: auto;
 margin-right: auto;
}

h2{
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

p{
  text-align: center;
}

#bold{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

h3{
  text-align: center;
}

h1{
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    padding: 5px 10px;
    text-decoration: underline;
}

li a:hover {
    background-color: yellow;
    color:black
}

#center{
  text-align: center;
}
