body {
    background: linear-gradient(grey, white);
    background-repeat: no-repeat;
    background-size: cover;
}
#disney {
    float: left;
}

#owl {
    float: left;
}

#ball {
  float: left;
}
#nemo {
  margin-left: auto;
 margin-right: auto;
}
