body {
    background: linear-gradient(#54757C, #E5F0F2, #175F6D);
    background-repeat: no-repeat;
    background-size: cover;
}
#disney {
    float: left;
}

#owl {
    float: none;
}

#ball {
  float: none;
}
#nemo {
  margin-left: auto;
 margin-right: auto;
}
